/* 
  -------
  
    STYLE.CSS
  
  -------
*/
html {
  margin: 0;
  padding: 0;
  height: 100%;
}
body {
  margin: 0;
  padding: 15px 24px 25px 24px;
  font-family: Arial, sans-serif;
  font-size: 14px;
  font-weight: 400;
  background: #ffffff;
  color: #000000;
}
pre {
  margin: 15px 0;
}
a:link, a:visited, a:active {
  color:#0000FF;
  text-decoration:underline;
  outline: none !important;
}
a:hover {
  color:#000000;
  text-decoration:underline
}
p {
  margin: 10px 0px;
}
pre {
  margin: 10px 0 0 0;
  background: #CCCCCC;
  padding: 7px;
  display: inline-block;
  font-size: 13px;
}
hr {
  background:rgba(0,0,0,0.4);
  border:0;
  height:1px;
  margin:25px 0;
}